.login-container {
    background-color: #121212;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    box-sizing: border-box;
}

.login-container {
    background-color: #0f172a;
}

:host ::ng-deep .p-card {
    background-color: #1e293b !important;
    color: white !important;
    border: 1px solid #334155 !important;
}

:host ::ng-deep label {
    color: #cbd5e1 !important;
}

:host ::ng-deep .p-card-title {
    color: white !important;
    text-align-last: center !important;
    font-size: 25px !important;
}

/* Inputs oscuros solo para el login */
:host ::ng-deep .p-inputtext {
    background-color: #0f172a !important;
    border-color: #334155 !important;
    color: white !important;
}
