.products-container {
  padding: 2rem;
  max-width: 1400px;
  margin: 0 auto;
  min-height: 100vh;
}

/*Cabecera donde está el buscador (Caption) */
:host ::ng-deep .p-datatable .p-datatable-header {
    border: none;
    padding: 1.5rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

h2 {
    color: white;
    font-size: 1.5rem;
}

/* Encabezados de columnas (TH) */
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: #2d2d2d;
    color: #e0e0e0;
    border-bottom: 1px solid #404040;
    padding: 1rem;
}

/*Iconos de ordenamiento*/
:host ::ng-deep .p-datatable .p-sortable-column-icon {
    color: #a0a0a0;
}
:host ::ng-deep .p-datatable .p-sortable-column:hover .p-sortable-column-icon {
    color: #fff;
}


:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
    background-color: #1e1e1e;
    color: #d4d4d4;
    transition: background-color 0.2s;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    border-bottom: 1px solid #333;
    padding: 1rem;
}

/*Cuando pasas el mouse por la fila */
:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
    background-color: #a4a4a4cb !important;
}

/* La barra inferior del paginador */
:host ::ng-deep .p-paginator {
    background-color: #ffffff;
    border-top: 1px solid #000000;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    padding: 0.5rem;
}

/* Botones del paginador */
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page,
:host ::ng-deep .p-paginator .p-paginator-first,
:host ::ng-deep .p-paginator .p-paginator-prev,
:host ::ng-deep .p-paginator .p-paginator-next,
:host ::ng-deep .p-paginator .p-paginator-last {
    color:#1e293b;
    background-color: transparent;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:hover {
    background-color: #000000;
    color: white;
}

/* Página activa*/
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: #10b981;
    color: white;
}

/* Input del Buscador */
:host ::ng-deep .p-input-icon-left > i {
    color: #aaa;
}

:host ::ng-deep input.p-inputtext {
    background-color: #2d2d2d;
    border: 1px solid #404040;
    color: white;
}
:host ::ng-deep input.p-inputtext:focus {
    border-color: #10b981;
}


:host ::ng-deep .p-datatable .p-datatable-emptymessage td {
    background-color: #1e1e1e;
    color: #888;
    text-align: center;
}

