/*CONTENEDOR PRINCIPAL*/
:host ::ng-deep .shadow-2 {
    border-radius: 12px;
    border: 1px solid var(--surface-border);
}

/*CABECERA DE LA TABLA*/
:host ::ng-deep .p-datatable .p-datatable-header {
    padding: 1.5rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid var(--surface-border);
}

:host ::ng-deep .p-datatable .p-datatable-header h3 {
    font-size: 1.25rem;
    font-weight: 700;
}

/*ENCABEZADOS DE COLUMNAS*/
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: #f8fafc;
    color: var(--text-color);
    padding: 1rem;
    font-weight: 700;
    font-size: 0.90rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

/*FILAS DE LA TABLA*/
:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
    color: var(--text-color);
    transition: all 0.2s ease;
    border-bottom: 1px solid var(--surface-border-light);
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    padding: 1.125rem 1rem;
    vertical-align: middle;
}

/* Efecto Hover (Al pasar el mouse) */
:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
    background-color: #d3d3d3;
    box-shadow: inset 0 0 0 1px var(--surface-border);
}

/*INPUT DEL BUSCADOR*/
:host ::ng-deep .p-datatable .p-inputtext {
    padding: 0.600rem 0.875rem 0.450rem 2.5rem;
    min-width: 250px;
    border-radius: 8px;
    font-size: 0.95rem;
    transition: all 0.2s;
}

:host ::ng-deep .p-datatable .p-inputtext:focus {
    border-color: var(--primary-color);
    box-shadow: 0 0 0 3px rgba(16, 185, 129, 0.1);
}

/*Pie de página*/
:host ::ng-deep .p-paginator {
    padding: 1rem 1.5rem;
    border-top: 1px solid var(--surface-border);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/*Botones del paginador */
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    color: var(--text-color);
    padding: 0.375rem 0.75rem;
    margin: 0 0.25rem;
    transition: all 0.2s;
    border: 1px solid transparent;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:hover {
    background-color: var(--surface-ground);
    border-color: var(--surface-border);
}


/* Botones de navegación del paginador */
:host ::ng-deep .p-paginator .p-paginator-prev,
:host ::ng-deep .p-paginator .p-paginator-next {
    transition: all 0.2s;
}
