/*CONTENEDOR PRINCIPAL */
:host ::ng-deep .shadow-2 {
    border-radius: 14px !important;
    border: 1px solid var(--surface-border);
}

/*CABECERA DE LA TABLA*/
:host ::ng-deep .p-datatable .p-datatable-header {
    background-color: var(--surface-card);
    padding: 1.5rem;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: 1px solid var(--surface-border);
}

/*ENCABEZADOS DE COLUMNAS*/
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
    background-color: #f8fafc;
    color: var(--text-color);
    border-bottom: 2px solid var(--surface-border);
    padding: 1rem;
    font-weight: 700;
    font-size: 0.90rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th .p-sorticon {
    color: var(--primary-color);
}

/*FILAS DE LA TABLA*/
:host ::ng-deep .p-datatable .p-datatable-tbody > tr{
    background-color: var(--surface-card);
    color: var(--text-color);
    transition: all 0.2s ease;

}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    padding: 1.125rem 1rem;
    vertical-align: middle;
}

/*Efecto Hover (Al pasar el mouse) */
:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover {
    background-color: #d3d3d3;
    box-shadow: inset 0 0 0 1px var(--surface-border);
}


/*Pie de página*/
:host ::ng-deep .p-paginator {
    background-color: var(--surface-card);
    border-radius: 1px;
    padding: 1rem 1.5rem;
    border-top: 1px solid var(--surface-border);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

/*Botones del paginador*/
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page {
    color: var(--text-color);
    padding: 0.375rem 0.75rem;
    margin: 0 0.25rem;
    transition: all 0.2s;
    border: 1px solid transparent;
}

:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page:hover {
    background-color: var(--surface-ground);
    border-color: var(--surface-border);
}

/*Página Activa*/
:host ::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    background-color: var(--primary-color);
    color: white;
    border-color: var(--primary-color);
    font-weight: 600;
}

/*Botones de navegación del paginador*/
:host ::ng-deep .p-paginator .p-paginator-prev,
:host ::ng-deep .p-paginator .p-paginator-next {
    transition: all 0.2s;
}


