/*Cabecera y cuerpo de la tabla*/
:host ::ng-deep .p-datatable .p-datatable-header,
:host ::ng-deep .p-datatable .p-datatable-thead > tr > th,
:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    background-color: #ffffff;
    color: #343a40;
    border-bottom: 1px solid #dee2e6;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
    background-color: #ffffff;
}

/*Cambiar color al pasar el mouse (hover)*/
:host ::ng-deep .p-datatable .p-datatable-tbody > tr:hover > td {
    background-color: #f8f9fa;
    color: #343a40;
}
