<div>
  <p-dialog
    [(visible)]="visible"
    [modal]="true"
    [style]="{ width: '450px' }"
    [header]="product ? 'Editar Producto' : 'Crear Producto'"
    (onHide)="closeDialog()"
    styleClass="p-fluid">

    <form [formGroup]="form" class="flex-column">
        <div>
          <app-ui-input-text
            label="Nombre"
            placeholder="Nombre del producto"
            [control]="nameControl">
          </app-ui-input-text>

          <app-ui-input-textarea
            label="Descripción"
            [control]="descControl">
          </app-ui-input-textarea>

           <app-ui-input-text
            label="Categoría"
            placeholder="Categoría del producto"
            [control]="catControl">
           </app-ui-input-text>

          <app-ui-input-number
            label="Precio"
            mode="currency"
            currency="USD"
            locale="en-US"
            [control]="priceControl">
          </app-ui-input-number>

          <app-ui-input-number
            label="Stock"
            [control]="stockControl"
            errorMessage="El stock no puede ser negativo">
          </app-ui-input-number>

        </div>
    </form>

    <ng-template pTemplate="footer">
        <div class="flex justify-content-end gap-2">

            <app-ui-button
                label="Cancelar"
                variant="secondary"
                icon="pi pi-times"
                (onClick)="closeDialog()">
            </app-ui-button>

            <app-ui-button
                label="Guardar"
                variant="primary"
                icon="pi pi-check"
                (onClick)="onSubmit()">
            </app-ui-button>

        </div>
    </ng-template>
  </p-dialog>
</div>

